@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(19, 19, 19);
    
}

section{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.square-container{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 98, 255);
    border-radius: 10px;
    padding: 0px;
}

.square{
    user-select: none; 
    width: 60px;
    height: 60px;
    border: 1px rgba(34, 34, 34, 0.527) solid;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
    
}

.square:hover{
    cursor: crosshair;
}

.difficulty-form{
    width: 10%;
}

.container-width{
    margin: 0 auto;
    max-width: 560px;
}

.container-width-game{
    margin: 0 auto;
    max-width: 500px;
}

.btn_css{
    width: 100%;
}

h1{
    font-family: 'Inter';
    color: rgb(209, 209, 209);
}