*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(27, 27, 27);
}

.square-container{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 98, 255);
    border-radius: 10px;
    padding: 0px;
}

.square{
    user-select: none; 
    width: 60px;
    height: 60px;
    border: 1px rgba(34, 34, 34, 0.527) solid;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
    
}

.square:hover{
    cursor: crosshair;
}

.difficulty-form{
    width: 10%;
}